.people-pic {
    max-width: 125px;
    max-height: 125px;
}

.people-name {
    margin: 5px 0 10px;
}

.people-name h6 {
    margin: 2px 0;
    font-weight: 300;
    font-size: 11px;
}

#sequence {
    height: 70px;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text,
#legend text {
    font-weight: 300;
    fill: #fff;
}

#chart {
    position: relative;
    border-right: 1px solid #eee;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 240px;
    left: 180px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}

#percentage {
    font-size: 2.5em;
}

.sponsor img {
    max-height: 150px;
    max-width: 350px;
    /*border: 1px solid black;*/
    padding: 10px;
    margin-right: 20px;

}

.vid-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1,h2,h3 {
	color: #444444;
}

h1 {
	text-shadow: 1px 1px #999999;
}
